<h2 class="card-header page-title">Meals While on Shift</h2>

<div class="card-block">
  <p class="lead text-danger">We no longer take orders in advance and deliver. Please read below for the new process.</p>
  <p>If you will be on shift and unable to visit the Staff Suite to receive your meal, you can still receive a meal. Department Heads will have an order form to take orders. The process will work as follows:</p>
  <ol class="rules">
    <li><p>The Department Head or designated individual will take food orders for the current meal for those that are eligible to receive food. They will have a specific order form to use.</p></li>
    <li><p>The order form will be given to an individual to bring to the Staff Suite's prep room. The room number will be on the order form.</p></li>
    <li><p>The Staff Suite will fill the order and pack the meals.</p></li>
    <li><p>The runner will bring the meals back to the department for the individuals that placed an order.</p></li>
  </ol>
  <hr>
  <p>There are some things to keep in mind regarding this process:</p>
  <ul>
    <li>Pick up orders will only be accepted by the Staff Suite within the first 2 hours of service. For example, lunch begins at 12pm. Each department has from 12pm to 2pm to send a runner with their lunch orders.</li>
    <li>Drinks will <strong>not</strong> be included. Cases of water and Gatorade are delivered to each department that morning between 7am and 9am, or to another pre-determined spot where the department will need to pick up the drinks. Drinks taken from the Staff Suite are for each individual only, and no cases will be dispersed from the Staff Suite.</li>
    <li>A volunteer needs to be eligible to recieve food. This means that the individual has signed up for at least 12 weighted hours and has had their first shift marked in Uber-RAMS. The Staff Suite uses an API to check this data when confirming badge numbers. This can be done by the Department Head or by the volunteer taking their signed shift sheet to Staffing Operations in Cameilia 1 to confirm.</li>
    <li>Food pick up is for staff and volunteers only and requires the provided order form.</li>
    <li>If an individual still needs a meal after the cut off time, they will need to visit the suite and can take their meal to go.</li>
  </ul>
</div>
