<h2 class="card-header page-title">Rules</h2>

<div class="card-block">
  <ol class="rules">
    <li><p>Complete the food restriction form in your volunteer checklist as honestly as possible. This information will be used to properly plan meals and purchase ingredients.</p></li>
    <li><p>Vegetarian and Vegan options are for those who indicate this food restriction.</p></li>
    <li><p>A valid Staff badge, Guest badge, or properly marked Volunteer ribbon is required to enter the room. We apologize for the inconvenience, but unauthorized attendees are not allowed in the Staff Suite and will not be fed. Exceptions are made at the Chefs' discretions.</p></li>
    <li><p>If you have an Attendee badge with a Volunteer ribbon, you must be signed up for at least 12 weighted hours and have worked your first shift. Once your shift is over either have your Department Head mark you as worked in Uber-RAMS or take your signed sheet to Staffing Operations (located in Camelia 1) and have them mark you in the system. Once this is done, you will be able to access the Staff Suite.</p></li>
    <li><p>Staff will be served one serving per meal. Seconds will be called only once management believes there is enough to spare. Delivery counts as one serving. Portions are predetermined according to standard serving sizes. These sizes are used in conjunction with the anticipated total number of staff being served to determine purchasing. With each meal you are allowed one beverage.</p></li>
    <li><p>Food cannot be picked up for another, with the exception of department food orders for those on shift. If you are on shift and would like to receive a meal, see your department head. Take out for another staffer will only be allowed with the required order form.</p></li>
    <li><p>Food pickup is only for staff and eligible volunteers that are on shift during service.</p></li>
    <li><p>If you would like to take your food to go, please let the server know.</p></li>
    <li><p>There will be a small seating area to eat your food. Please be courteous to other hungry staffers. If you are done with your food, please clean up your mess and free up the space for those coming in.
    Meals need to be consumed in the suite or in your room. Please do not sit and eat in the halls or the elevator banks.</p></li>
    <li><p>Snacks and beverages have no limit, but you will only be allowed one of each per visit.
    Please clean up after yourself. This includes discarding of your trash once you are done.
    No alcohol is allowed in the Staff Suite.</p></li>
    <li><p>If a member of the Staff Suite Staff is moving with something in their hands, please stay right where you are, they will move around you. Having to to determine which way you are going makes it more difficult when carrying something hot and/or heavy and could cause an accident.
    Please be courteous to the volunteers and to your fellow patrons. This includes volume, politeness and keeping lines moving.</p></li>
    <li><p>Regardless of hotel policies, vaping/E-cig/smoking of any kind is prohibited inside the Staff Suite service and prep rooms at all times.</p></li>
    <li><p>If there are any issues or questions, please find someone in a Chef coat and let them know.</p></li>
  </ol>
  <p class="text-danger"><strong>These rules are subject to change at the discretion of the Staff Suite.</strong></h2>
</div>
